#ifndef SECRETS_H
#define SECRETS_H

// Bu dosyayi secrets.h olarak kopyala ve gercek degerlerini gir.
// secrets.h .gitignore'da oldugu icin git'e girmez.

#define WIFI_AP_PASSWORD "ApSifreniz"
#define OTA_PASSWORD "OtaSifreniz"

#endif // SECRETS_H
