#ifndef SECRETS_H
#define SECRETS_H

// Bu dosyayi secrets.h olarak kopyala ve gercek degerlerini gir.
// secrets.h .gitignore'da oldugu icin git'e girmez.

#define WIFI_SSID "AgAdiniz"
#define WIFI_PASSWORD "AgSifreniz"
#define OTA_PASSWORD "OtaSifreniz"
#define AP_PASSWORD "ApSifreniz"
#define MQTT_USER ""
#define MQTT_PASS ""

#endif // SECRETS_H
